/* General styles for the page */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 350;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    font-family: 'Helvetica Light', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #473198;
}

h2 {
    font-family: 'Helvetica Light', Helvetica, Arial, sans-serif;
    font-size: 18;
    font-weight: 300;
    color: #473198;
}

h3 {
    font-family: 'Helvetica Light', Helvetica, Arial, sans-serif;
    font-size: 14;
    font-weight: 300;
    color: dimgray 
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    max-width: 80%;
    margin: auto;
    height: 75vh;
    min-height: 100vh;
}

.left-column {
    width: 30%;
    position: sticky;
    top: 0;
    overflow: hidden;
    flex: 1;
    text-align: right;
    border-right: 0.5px solid #ccc;
    padding-right: 10px;
}

.left-column img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 5px;
}

.left-column h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
    color: #473198;
}

.left-column p {
    margin: 10px 0;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    margin-top: 20px;
}

.vertical-menu .menu-item {
    text-align: right; /* Align text inside each menu item to the right */
    color: #473198;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.vertical-menu .menu-item:hover {
    background-color: #473198;
    color: white;
    border-color: #473198;
    transform: scale(0.95);
}

.right-column {
    flex: 2;
    padding-left: 20px;
    overflow-y: auto;
}

.right-column h2 {
    font-family: 'Helvetica Light', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #473198;
}

.right-column p {
    font-size: 14px;
}

a {
    color: #1D9FB7; 
    text-decoration: underline; 
}

a:hover {
    color: #0B7B88;
}

.project-container {
    margin-bottom: 40px;
    padding: 10px;
}

.project-container h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; 
    font-weight: 600;
    color: #525252;
    margin-bottom: 0px;
    line-height: 1;
}

.project-container h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; 
    font-weight: 350;
    color: #333333;
    margin-bottom: 10px;
}

.project-container p {
    font-family: Helvetica;
    font-weight: 350;
    font-size: 13px; 
    line-height: 1.3;
    margin-bottom: 0px;
    color: #333333;
}

.project-container a {
    color: #1D9FB7; 
    text-decoration: underline; 
    font-size: 14px;
}

.project-container a:hover {
    color: #0B7B88;
}

/* General Styles for Mobile */
@media (max-width: 768px) {
    header nav {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        gap: 10px; 
        margin-bottom: 20px; 
    }

    header nav a {
        display: block; /* Ensure links are block-level for proper alignment */
        width: 100%; /* Optionally stretch buttons to fill the width */
        max-width: 200px; /* Limit the width for centered alignment */
        text-align: center; /* Center the text */
        padding: 10px; /* Add padding for better tap area */
        border-radius: 5px; /* Make buttons look nicer with rounded corners */
    }


    .container {
        flex-direction: column; 
    }

    .right-column {
        margin-top: 20px;
        flex: none;
        width: 100%
    }

    .left-column {
        flex: none;
        text-align: center;
        margin-bottom: 20px; 
        width: 100%;
        border-right: 0.5px solid transparent;
    }

    .vertical-menu {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center menu items horizontally */
        gap: 5px; /* Add space between menu items */
    }

    .vertical-menu a {
        align-items: center;
        text-align: center;
    }

    .vertical-menu .menu-item {
        align-items: center;
        text-align: center;
    }

    h1 {
        font-size: 16px;
    } 
    
    h2, h3, p {
        font-size: 14px; 
    }

    img {
        width: 120px; 
        height: 120px;
    }
    a {
        font-size: 14px; 
        
        display: inline-block; /* Ensure clickable area */
    }
}


